<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="http://localhost:8080/callendar/jquery/dist/jquery.min.js"></script>
</head>
<body>
    <ul>
        <li><a href="/login">Login</a></li>
        <li><a href="/agenda">Agenda</a></li>
    </ul>
    <h2>Usuário:</h2>
    <input id="email" type="text"/>
    <h2>Senha:</h2>
    <input id="password">
    <button id="login">Login</button>
    <div class="result"></div>
</body>

<script>
    var credenciais = {}
    function getDados(){
        var email = $('#email');
        email = email.val()
        var password = $('#password');
        password = password.val();
        credenciais.email = email;
        credenciais.password = password;
        console.log('foo credenciais ', credenciais); 
        postLogin(credenciais);  
    }
    function events(){
        var login = $('#login');
        login.on("click", getDados);
    }

    function postLogin(data){
        console.log('foo postLogin', data);

        // $.post( "/login", data)

        $.post( "/login", data)
            .done(function( data ) {
                console.log( "Usuario correto: " , data );
                if(data.sucess){
                    console.log( "Usuariooo correto: " , data );
                    window.location = 'agenda'
                }
        });
        
   
    }
    events();
</script>
</html>