.header-menu{
    height: 10%;
    max-height: 50px;
    background-color: #F6F6F8;
}

.menu , .menu a {
    height: 100%;
    display: flex;
    align-items: center;
    
}
/*  version1  */
.logo-a{
    color: #3683A4
}

.link-style{
    color: #160F1F;
    font-weight: bold;
    letter-spacing: 0.06em;
    height: 100%;
    vertical-align: middle;
    display: table-cell;
    padding: 0px 15px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}


.menu > a:link{
    color:#160F1F;
    text-decoration:none;
}
.menu > a:hover{
    color:#160F1F;
    text-decoration:none;
}
.menu > a:visited{
    color:#160F1F;   
}
.current-path{
    /* background-color: #cdcdcd; */
    color:#26819D!important
}

.target {
    transition: all .35s ease-in-out;
}
  
.target {
    position: absolute;
    border-bottom: 4px solid transparent;
    z-index: -1;
    transform: translateX(-60px);
}