
@import url(https://fonts.googleapis.com/css?family=Lobster);
.headerMenu {
  height: 50px;
  background:
  linear-gradient(red, transparent),
  linear-gradient(to top left, lime, transparent),
  linear-gradient(to top right, blue, transparent);
  background-blend-mode: screen;
}

.menu {
  position: relative;
  height: 100%;
  display: table;
  margin: 0 auto;
  
}

.linkStyle{
  color: white;
  height: 100%;
  vertical-align: middle;
  display: table-cell;
  padding: 0px 15px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Raleway-Medium';
  font-size: 1.0em;
}

.userMenu {
  cursor: pointer;
  width: 127px;
  height: 50px;
  max-width: 250px;
  float: right;
  overflow: hidden;
}

 .userMenu h1 {
  max-width: 10px;
  max-height: 10px;
  font-size: 15px;
  color: white;
  float: left;
  margin: 7px;
}

.userImg{
  max-width: 52px;
  max-height: 50px;
  border: white;
  float: right
} 


.circle {
  background-color: #aaa;
  border-radius: 50%;
  width: 52px;
  height: 47px;
  overflow: hidden;
  position: relative;
  float: right
}

.circle img {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.currentAgenda{
  float: left;
}

.nameAgendaCurrent{
  font-family: 'Lobster', cursive;
  font-size: 20px;
  padding-top: 9%;
  color:#fff
}

.loading{
  position: absolute;
  left: 38%;
  z-index: 999;
  top: 38%;
}