.loginBackgroung{
  display: flex;
}

.loginBackgroung .FormLogin {
  border-radius: 29px;
  background-color: #fff;
  height: 223px;
}

.loginBackgroung .loginLogo{
  position: relative;
  top: 68px;
  width: 50%;
}

.btLogin{
  width: 140px;
  height: 48px;
  left: 421px;
  top: 817px;
  background: #26819D;
  border-radius: 100px;
}
html {
  background-color: #26819D;
  height: 100%;
}
body {
  /* height: 100%; */
  /* background-size: 50% auto; */
}

.loginLogo{
  text-align: center;
}


.loginLogo svg{
  margin-top: 4%;
}

