.loginBackgroung{
  /* display: flex; */
  /* flex-direction: column; */
  height: 100%;
}

.loginBackgroung .FormLogin {
  border-radius: 29px;
  background-color: #fff;
  height: 300px;
  width: 300px;
}

.loginBackgroung .FormLogin h1,p,form {
  margin-left: 30px;
}
.FormLogin p{
  font-size: 15px;
  margin-bottom: 0;
}
.loginBackgroung .FormLogin h2 {
  font-size: 14px;
  width: 154px;
}

.loginBackgroung .loginLogo{
  position: ABSOLUTE;
  top: 60px;
  left: 46px;
  max-height: 250px;
  margin: 0;
  display: flex;
  flex-direction: column;

}

.loginBackgroung .loginDiv {
  position: absolute;
  height: 300px;
  width: 300px;
  /* top: 37px; */
  /* left: -86px; */
}

.btLogin{
  width: 114px;
  height: 48px;
  left: 421px;
  top: 817px;
  background: #26819D;
  border-radius: 100px;
  color: #fff;
  font-weight: bold;
}
html {
  background-color: #26819D;
  height: 100%;
}
.inputLogin{
  border: 2px solid #AFAFB3;
  box-sizing: border-box;
  border-radius: 8px;
  margin-top: 10px;
  height: 50px;
  width: 236px;
}

.loginLogo{
  text-align: center;
}


.loginLogo svg{
  margin-top: 4%;
  width: 300px;
}

.divPassword{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 47px;
}