<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Painel administrativo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- build:js ../js/jquery.min.js-->
    <script src="../node_modules/jquery/dist/jquery.min.js"></script>
    <!-- /build -->
    <script src="../js/admCadastroUsuario.js"></script>
    <!-- BooStrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <link rel='stylesheet' href="../css/menu.css"/>
</head>
<body>
    <!--MENU PRONTO -->
    <div id="menu">
            <ul>
              <li><a href="/agenda">Agenda</a></li>
              <li><a href="#">Painel Adm</a>
                <ul class="sub-menu">
                  <li><a href="/adm/user">Usuário</a></li>
                  <li><a href="/adm/agenda">Agenda</a></li>
                  <li><a href="/adm/logs">Logs</a>
                  </li>
                </ul>
              </li>
              <li><a href="#">Contato</a></li>
              <li class="perfil"><p class="user"></p></li>
            </ul>
          </div>
          <!--FIM MENU PRONTO-->
    <div class="addUser form-group col-6">
        <form>
            OPÇÕES DE EDIÇÃO
            <h1>Adicionar Usuário</h1>
            <div class="form-group">
                <label for="cadUserNome">Nome</label>
                <input type="email" class="form-control" id="cadUserNome" placeholder="Fulano Beltrano Da Silva">
            </div>
            <div class="form-group">
                <label for="cadUserEmail">Email</label>
                <input type="text" class="form-control" id="cadUserEmail" placeholder="name@example.com">
            </div>
            <div class="form-group">
                    <label for="cadUserSenha">Senha</label>
                    <input type="password" class="form-control" id="cadUserSenha" placeholder="*****">
            </div>
            <div class="form-group">
                <label for="CadUserRoles">Perfil</label>
                <select class="form-control" id="cadUserRoles">
                    <option value="admin">Admin</option>
                    <option value="usuario">Usuário</option>
                </select>
                </div>
        </form>
        <button class="btn btn-primary cadUSerBt">Cadastrar usuário</button>
    </div>
</body>
</html>