<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Index</title>
    <meta name="description" content="">
    <meta name="author" content="">
  </head>
  <body>
    <div id="app"></div>
    
      <% if (scripts) {  <!-- add scripts in page --> %>
        <script src=<%=scripts %> ></script>
      <% } else {%>
       <h1>NOT FOUND SCRIPTS</h1>
       <% };%>
  </body>
</html>