<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Agenda de espaços</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- build:css /css/fullcalendar.min.css -->
    <link rel='stylesheet' href='callendar/fullcalendar/dist/fullcalendar.css' />
    <!-- /build -->
    <script src="js/jquery.min.js"></script>
    <!-- build:js /js/moment.min.js -->
    <script src="callendar/moment/min/moment.min.js"></script>
    <!-- /build -->
    <!-- build:js /js/fullcalendar.min.js -->
    <script src="callendar/fullcalendar/dist/fullcalendar.js"></script>
    <!-- /build -->
    <!-- build:js /js/fullcalendar.min.js -->
    <script type="text/javascript" src="callendar/fullcalendar/dist/locale-all.js"></script>
    <!-- /build -->
    <!-- build:js /js/agenda.js -->
    <script type="text/javascript" src="js/agendaInsertEvent.js"></script>
    <script type="text/javascript" src="js/agendaConfig.js"></script>
    <script type="text/javascript" src="js/agendaScript.js"></script>
    <script type="text/javascript" src="js/agendaGetEvents.js"></script>
    <script src="js/agendaInteracao.js"></script>
    <!-- /build -->
    <link rel='stylesheet' href="css/menu.css"/>
    <!-- <link rel='stylesheet' href="http://localhost:8080/static/css/agenda.css"/> -->
    
    <!-- BooStrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script type="text/javascript" src="js/jquery.mask.min.js"></script>
    
    <style>
      .positionModal {
        
        top: 150px;
        
    }
    </style>
  </head>
<body>
    <!--MENU PRONTO -->
    <nav>
      <ul>
        <li class="sub-menu-parent" tab-index="0">
          <a href="http://google.com">Agendas</a>
          <ul class="sub-menu">
            <li><a href="#">Sala de Reunião -501</a></li>
            <li><a href="#">Estúdio - 500</a></li>
          </ul>
        </li>
        <li class="sub-menu-parent" tab-index="0">
          <a href="#">Configurações</a>
          <ul class="sub-menu">
            <li><a href="#">Agendas</a></li>
            <li><a href="#">Usuarios</a></li>
            <li><a href="#">Logs</a></li>
          </ul>
        </li>
        <li class="sub-menu-parent" tab-index="0">
          <a href="#">Menu Item 3</a>
          <ul class="sub-menu">
            <li><a href="#">Sub Item 1</a></li>
            <li><a href="#">Sub Item 2</a></li>
          </ul></li>
      </ul>
    </nav>
    <!--FIM MENU PRONTO-->
    <!-- Modal Pequena -->
    <div class="modal  modalPequena" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title pequenaTittle">Detalhes do Evento</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body pequenaBody">
                    <t5>Finalidade:</t5><t5 class="titulo"></t5>
                    <p></p>
                    <t5>Inicio:</t5><t5 class="inicio"></t5>
                    <p></p>
                    <t5>Fim:</t5><t5 class="fim"></t5>
                    <p></p>
                    <t5>Usuário:</t5><t5 class="usuario"></t5>  
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary btFechar" data-dismiss="modal ">Fechar</button>
                  <button type="button" class="btn btn-primary btSalvar">Salvar</button>
                </div>
              </div>
            </div>
          </div>
    <!-- Fim modal pequena -->
    <!-- Modal Cadastro Evento -->
    <div class="modal fade bd-example-modal-lg modalCadastro" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg positionModal">
        <div class="modal-content">
            <div class="modal-body">
                <!-- Form -->
                <form>
                    <div class="form-group row">
                      <label for="inputEmNoail3" class="col-sm-2 col-form-label">Nome da reserva:</label>
                      <div class="col-sm-10">
                        <input type="email" class="form-control cadastroNome" id="inputEmail3" placeholder="Ramon - Reunião">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="inputPassword3" class="col-sm-2 col-form-label ">Finalidadee:</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control cadastroFinalidade" id="inputPassword3" placeholder="Ex: Reunião equipe design Plataforma">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="inputPassword3" class="col-sm-2 col-form-label">Inicio:</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control data cadastroInicio" id="inputPassword3" placeholder="Ex: 13/10/18 13:00:00">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="inputPassword3" class="col-sm-2 col-form-label">Fim:</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control data cadastroFim" id="inputPassword3" placeholder="Ex: 13/10/18 17:00:00">
                      </div>
                    </div>
                   
                    <div class="form-group row">
                      <div class="col-sm-10">
                        <button type="button" class="btn btn-primary cadastrarEvento">Cadastrar</button>
                        <button type="button" class="btn btn-primary cadastroEventoFechar">Fechar</button>
                      </div>
                    </div>
                  </form>
                <!-- fim form -->
            </div>
        </div>
      </div>
    </div>
    <!-- Fim modal Cadastro Evento -->
    <div id='calendar'></div>
</body>
</html>